:root {
	--White: hsl(0, 0%, 100%);
	--Light-gray: hsl(212, 45%, 89%);
	--Grayish-blue: hsl(220, 15%, 55%);
	--Dark-blue: hsl(218, 44%, 22%);
}

body {
	background-color: var(--Light-gray);
	font-family: 'Outfit',sans-serif;
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	color: var(--Dark-blue);
}

.qr-code {
	width: 20%;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0.8em 0.3em 0 0.3em;
	border-radius: 1em;
}

img {
	width: 95%;
	border-radius: 1em;
	object-fit: cover;
}

h1 {
	font-size: 1.4rem;
	font-weight: bolder;
}

#text {
	margin: 1em;
}

p {
	color: var(--Grayish-blue);
	font-size: 1em;
	font-weight: 400;
}

a {
	color: var(--Grayish-blue);
}


@media only screen and (max-width: 1024px) {
	main {
		width: 27%;
	}
}

@media only screen and (max-width: 768px) {
	main {
		width: 35%;
	}
}


@media only screen and (max-width: 425px){
	main {
		width: 60%;
	}
}