body {
	background-color: hsl(212, 45%, 89%);
	font-family: 'Outfit',sans-serif;
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}

main {
	width: 40%;
}

.qr-code {
	background-color: white;
	width: 100%;
	height: 100%;
	max-width: 700px;
	border-radius: 7%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 15px 6px 6px 6px;
}

img {
	width: 95%;
	height: 70%;
	border-radius: 7%;
	object-fit: cover;
}

p {
	color: hsl(212, 45%, 89%);
	font-size: 15px;
	font-weight: 400;
}

.attribution {
	position: absolute;
	bottom: 12px;
}

@media screen and (max-width: 360px) {
	body {
		display: flex;
		text-align: center;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 100vh;
		margin: auto;
	}

	main {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.qr-code {
		width: 60%;
		height: 95%;
		background-color: white;
		border-radius: 7%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding: 15px 6px 6px 6px;
	}
	.img {
		width: 75%;
		height: 60%;
		border-radius: 7%;
		object-fit: cover;
	}
}

.attribution {
	text-align: center;
}
